:root {
  --rows: 3;
  --columns: 3;
}

.cell {
  cursor: pointer;
  border: 2px solid black;
  background-color: burlywood;
  font-size: 3rem;

  display: grid;
  place-items: center center;
}

h1 {
  padding: 0;
  margin: 1rem 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.gameboard {
  width: 25vw;
  aspect-ratio: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 1rem;

  margin-block: 1rem;
}

.gameboard > div {
  grid-column: 1/ -1;
  grid-row: span 1;

  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}


.message {
  font-size: 1.5rem;
  font-weight: bold;
  margin-block: 1rem;
  padding: 0.5rem;
  height: 2rem;
  background-color:rgb(218, 176, 176);

  display: flex;
  align-items: center;
}

.reset-btn {
  all: unset;
  cursor: pointer;
  background-color: rgb(41, 200, 147);
  padding: 0.75rem 2.5rem;

  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 2rem;
}

